body {
font-family: "Arial", sans-serif;
margin: 2px;
/*margin-top: -23px;*/
padding-bottom: 25px;
background-color: #EAEAF0;
}

#all {
margin: auto;
width: 800px;
}

header {
position: relative;
/*text-align: right;*/
padding-top: 10px;
padding-left: 5px;
padding-right: 5px;
padding-bottom: 35px;
/*background-color: #A3A3A3;*/
background: #A3A3A3 url('resources/line-turbine.png') no-repeat 45px -20px;
border-radius: 5px 5px 10px 10px;
box-shadow: 5px 5px 7px #363636;
}
header.error {
padding-top: 15px;
padding-bottom: 30px;
color: #ED0000;
}
h1 {
margin: 0px;
text-align: center;
padding-top: 5px;
}
header span.state {
position: absolute;
margin-top: 15px;
padding-left: 5px;
font-size: 0.8em;
background-color: #A3A3A3;
color: #E0E0E0;
}
span.running {color: #00E300;}
span.running::selection {background-color: #00E300;}
span.parked {color: #EDD300;}
span.parked::selection {background-color: #EDD300;}
span.stopped {color: #ED0000;}
span.stopped::selection {background-color: #ED0000;}
header span.updated {
position: absolute;
right: 5px;
text-align: right;
padding-right: 5px;
font-size: 0.8em;
background-color: #A3A3A3;
color: #E0E0E0;
}

#content {
overflow: hidden;
text-align: center;
margin: 5px;
margin-top: 7px;
padding: 5px;
background-color: #FFFFFF;
border-radius: 10px;
min-height: 200px;
box-shadow: 3px 3px 5px #363636;
z-index: 3;
}
abbr {
cursor: default;
}
dl {
margin: auto;
display: inline-block;
width: 100%;
}
dt {
width: 50%;
clear: both;
float: left;
text-align: right;
color: #363636;
font-weight: bold;
}
dt:after {
content: ":";
}
dd {
float: left;
margin: 0px;
margin-bottom: 0.5em;
padding-left: 0.25em;
width: 5.5em;
text-align: right;
}
dd.units {
text-align: left;
color: #A3A3A3;
}

::selection {
color: #FFFFFF;
background-color: #A3A3A3;
}

a {
text-decoration: none;
color: #606060;
}
a:hover {
text-decoration: underline;
}
a::selection {
color: #FFFFFF;
background-color: #606060;
}

footer {
position: fixed;
bottom: 2px;
background-color: #A3A3A3;
height: 20px;
width: 800px;
padding-top: 5px;
font-size: 0.8em;
border-radius: 5px;
box-shadow: 5px 5px 7px #363636;
}
.validation {
position: absolute;
padding-left: 5px;
color: #E0E0E0;
z-index: 1;
}
.center {
position: absolute;
color: #E0E0E0;
width: 100%;
text-align: center;
z-index: 0;
}
.right {
position: absolute;
right: 5px;
text-align: right;
padding-right: 5px;
color: #E0E0E0;
}
