span.running {
	display: inline-block;
	width: 4em;
	text-align: center;
	color: #00ED00;
	border-width: 0.1em;
	border-style: solid;
	border-radius: 0.35em;
}

span.running::selection {
	background-color: #00E300;
}

span.parked {
	display: inline-block;
	width: 4em;
	color: #EDD300;
	text-align: center;
	border-width: 0.1em;
	border-style: solid;
	border-radius: 0.35em;
}

span.parked::selection {
	background-color: #EDD300;
}

span.stopped {
	display: inline-block;
	width: 4em;
	background-color: #ED0000;
	border-color: #ED0000;
	color: inherit;
	text-align: center;
	border-width: 0.1em;
	border-style: solid;
	border-radius: 0.35em;
}

span.stopped::selection {
	background-color: #ED0000;
}

